<!DOCTYPE html>
<html>
<head>
    <title>Trash</title>
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <link rel="stylesheet" type="text/css" href="{% static 'public/style.css' %}">

</head>
<body>

<h1>Contribute</h1>

<div id="trash_map"></div><button style="float:right;" onclick="reset()">Reset</button>
<input placeholder="Title" id="contribution_title" type="text">
<textarea placeholder="Description" id="contribution_desc"></textarea>
<button onclick="saveContribution()" id="save">Save</button>

<script>
    const trashMap = L.map('trash_map').setView([55.370865, 10.384312], 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoidHJvZmZlbCIsImEiOiJja29yYnVwOHIxM2R5MzJwaTRhY2M2czh0In0.nllfx-HCKAEWKdldVFdbEA'
    }).addTo(trashMap);

    let path = [];
    let lines = [];

    function reset() {
        clearMap()
        clearInput()
    }

    function onMapClick(e) {
        path.push([e.latlng.lat, e.latlng.lng]);
        lines.forEach(line => trashMap.removeLayer(line));
        renderPath(path)
    }

    function clearMap() {
        lines.forEach(line => line.remove(trashMap))
        path = []
        lines = []
    }

    function clearInput() {
        document.getElementById("contribution_title").value = ""
        document.getElementById("contribution_desc").value = ""
    }

    function saveContribution() {
        const title = document.getElementById("contribution_title").value
        const desc = document.getElementById("contribution_desc").value

        if (path.length === 0 || title.length === 0 || desc.length === 0) return;
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/contribution", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}')
        xhr.onload = function (e) {
            if (xhr.readyState === xhr.DONE) {
                if (xhr.status === 201) {
                    clearMap()
                    clearInput()
                } else {
                    alert("Unable to save contribution")
                    console.error(xhr.statusText);
                }
            }
        };

        xhr.send(JSON.stringify({
            "path": path,
            "title": title,
            "description": desc,
        }));

    }

    function renderPath(path) {
        for (let i = 0; i < path.length; i++) {
            if (i === 0 && path.length === 1) {
                lines.push(L.polygon(path).addTo(trashMap));
            }
            if (i > 0) {
                lines.push(L.polygon(path.slice(i - 1, i+1)).addTo(trashMap));
            }
        }
    }

    trashMap.on('click', onMapClick);
</script>
</body>
</html>
